<h1>AIgatha</h1>
<h2><i>Create and solve a detective puzzle game using AI</i><h2>
<h3>Customize your game</h3>
<div>
  <form action="/games/100">
    <div>
    <label for="setting">Choose your setting:</label>
    <select id="setting" name="setting">
      <option value="old mansion">old mansion</option>
      <option value="spaceship">spaceship</option>
      <option value="art museum">art museum</option>
      <option value="random">surprise me!</option>
    </select>
    </div>

    <div>
    <label for="difficulty">Choose your difficulty:</label>
    <select id="difficulty" name="difficulty">
      <option value="easy">easy</option>
      <option value="medium">medium</option>
      <option value="hard">hard</option>
    </select>
    </div>
    <input type="submit" value="Investigate!">
  </form>
</div>
